.banner {
    background-image: url("../images/index1.jpg");
    padding-top: 295px;
    padding-bottom: 295px;
}

.img-index2 {
    background-image: url("../images/index2.jpg");
    padding-top: 555px;
}

.img-index3 {
    background-image: url("../images/index3.png");
    padding-top: 555px;
}

.img-index4 {
    background-image: url("../images/index4.jpg");
    padding-top: 555px;
}

.img-index5 {
    background-image: url("../images/index5.jpg");
    padding-top: 555px;
}

.img-index6 {
    background-image: url("../images/index6.jpg");
    padding-top: 555px;
}

.img-index7 {
    background-image: url("../images/index7.jpg");
    padding-top: 555px;
}

.img-index8 {
    background-image: url("../images/index8.jpg");
    padding-top: 555px;
}

.img-index9 {
    background-image: url("../images/index9.jpg");
    padding-top: 520px;
}

.img-index10 {
    background-image: url("../images/index10.jpg");
    padding-top: 312px;
    padding-bottom: 132px;
}

.img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}